<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

  <display-name>project4</display-name>
<servlet>
<servlet-name>signup</servlet-name>
<servlet-class>project4.signup</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>signup</servlet-name>
<url-pattern>/signup</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>searchbar</servlet-name>
<servlet-class>project4.searchbar</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>searchbar</servlet-name>
<url-pattern>/searchbar</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>cartmethods</servlet-name>
<servlet-class>project4.cartmethods</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>cartmethods</servlet-name>
<url-pattern>/cartmethods</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Contact</servlet-name>
<servlet-class>project4.ContactForm</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Contact</servlet-name>
<url-pattern>/ContactForm</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>newsletter</servlet-name>
<servlet-class>project4.newsletter</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>newsletter</servlet-name>
<url-pattern>/newsletter</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>signerup</servlet-name>
<servlet-class>project4.signerup</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>signerup</servlet-name>
<url-pattern>/signerup</url-pattern>
</servlet-mapping>




</web-app>